extends layout


block content

  script.
    function test()
    {
      console.log("test");
    }
  div.container
    h1= title
    h3 Hi #{username}! We are excited to have you as a part of our team!
    p Please indicate the services that you would like to participate in by filling the form below

    form(method='POST' action='')
      div.form-group
        each val, index in service_list
          - var service = val.name
          - var i = 0; 
          div.checkbox-group
            input.service-checkbox.form-control(type='checkbox', name='service', value=service, id="service" + index)
            label.service-label(for="service"+index) #{val.name}
      div.text-center
        button.btn.btn-primary(type='submit') Submit


    //- if chosen_services.service.length == 0
    //-   h2 You are currently not signed up for any services
    //- else
    //-   h2 You are currently signed up for the following services
    //-       ul
    //-         each chosen in chosen_services.service
    //-           li 
    //-             p #{chosen.name}

    //- ul
    //-   each val in user.service
    //-     li #{val.name}



  
